Código/JSon
[
    {
        "id": "9201e9be80c595c3",
        "type": "tab",
        "label": "flujoroi",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0130a06a1cf8df1c",
        "type": "mqtt out",
        "z": "9201e9be80c595c3",
        "name": "",
        "topic": "casa/actuadores/led7",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "43c6d6fc24ad7b6d",
        "x": 480,
        "y": 160,
        "wires": []
    },
    {
        "id": "10465a1aba50da3e",
        "type": "ui_switch",
        "z": "9201e9be80c595c3",
        "name": "",
        "label": "LED7",
        "tooltip": "",
        "group": "654b2b9f30da2b80",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "0130a06a1cf8df1c"
            ]
        ]
    },
    {
        "id": "6ef87b0fa616a418",
        "type": "inject",
        "z": "9201e9be80c595c3",
        "name": "MensaxeBotonTrue",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "qos",
                "v": "2",
                "vt": "num"
            },
            {
                "p": "retain",
                "v": "false",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "casa/sensores/actuadores",
        "payload": "true",
        "payloadType": "bool",
        "x": 210,
        "y": 260,
        "wires": [
            [
                "103f913e82659847"
            ]
        ]
    },
    {
        "id": "9db674f918b72bf9",
        "type": "inject",
        "z": "9201e9be80c595c3",
        "name": "MensaxeBotonFalse",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "qos",
                "v": "2",
                "vt": "num"
            },
            {
                "p": "retain",
                "v": "false",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "casa/sensores/boton",
        "payload": "false",
        "payloadType": "bool",
        "x": 210,
        "y": 320,
        "wires": [
            [
                "e56c61ea8d1f9556"
            ]
        ]
    },
    {
        "id": "103f913e82659847",
        "type": "mqtt out",
        "z": "9201e9be80c595c3",
        "name": "",
        "topic": "casa/actuadores/led7",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "43c6d6fc24ad7b6d",
        "x": 480,
        "y": 260,
        "wires": []
    },
    {
        "id": "e56c61ea8d1f9556",
        "type": "mqtt out",
        "z": "9201e9be80c595c3",
        "name": "",
        "topic": "casa/actuadores/led7",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "43c6d6fc24ad7b6d",
        "x": 480,
        "y": 320,
        "wires": []
    },
    {
        "id": "48cc527463cf23c6",
        "type": "mqtt in",
        "z": "9201e9be80c595c3",
        "name": "",
        "topic": "casa/actuadores/led7",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43c6d6fc24ad7b6d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 400,
        "wires": [
            [
                "6654d4323d650cfb"
            ]
        ]
    },
    {
        "id": "63c2eee4e75b5f93",
        "type": "mqtt in",
        "z": "9201e9be80c595c3",
        "name": "",
        "topic": "casa/actuadores/led7",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43c6d6fc24ad7b6d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 460,
        "wires": [
            [
                "44fcefbac797a5fa"
            ]
        ]
    },
    {
        "id": "6654d4323d650cfb",
        "type": "debug",
        "z": "9201e9be80c595c3",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 400,
        "wires": []
    },
    {
        "id": "44fcefbac797a5fa",
        "type": "debug",
        "z": "9201e9be80c595c3",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 460,
        "wires": []
    },
    {
        "id": "a2c6d11dce436f24",
        "type": "mqtt in",
        "z": "9201e9be80c595c3",
        "name": "",
        "topic": "casa/sensores/temperatura7",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43c6d6fc24ad7b6d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 640,
        "wires": [
            [
                "8b7167ce6ccc0866",
                "48a7bf22814ae5da",
                "d23749922b7557cc"
            ]
        ]
    },
    {
        "id": "8b7167ce6ccc0866",
        "type": "ui_gauge",
        "z": "9201e9be80c595c3",
        "name": "",
        "group": "4d85fdb834129f7d",
        "order": 8,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 450,
        "y": 580,
        "wires": []
    },
    {
        "id": "48a7bf22814ae5da",
        "type": "ui_chart",
        "z": "9201e9be80c595c3",
        "name": "",
        "group": "4d85fdb834129f7d",
        "order": 9,
        "width": 0,
        "height": 0,
        "label": "Gráfico Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "10",
        "ymax": "35",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 500,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "d23749922b7557cc",
        "type": "debug",
        "z": "9201e9be80c595c3",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 700,
        "wires": []
    },
    {
        "id": "baae2089a2a8f830",
        "type": "mqtt in",
        "z": "9201e9be80c595c3",
        "name": "",
        "topic": "casa/sensores/humidade7",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43c6d6fc24ad7b6d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 800,
        "wires": [
            [
                "b6fca10039aad4f2",
                "bf48fa4e7b18b501"
            ]
        ]
    },
    {
        "id": "b6fca10039aad4f2",
        "type": "ui_gauge",
        "z": "9201e9be80c595c3",
        "name": "",
        "group": "4d85fdb834129f7d",
        "order": 8,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Humidade",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 470,
        "y": 760,
        "wires": []
    },
    {
        "id": "bf48fa4e7b18b501",
        "type": "debug",
        "z": "9201e9be80c595c3",
        "name": "debug 19",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 820,
        "wires": []
    },
    {
        "id": "3132295cb349470e",
        "type": "mqtt in",
        "z": "9201e9be80c595c3",
        "name": "",
        "topic": "depuracion7",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43c6d6fc24ad7b6d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 650,
        "y": 700,
        "wires": [
            [
                "359d0159ff16ae6e"
            ]
        ]
    },
    {
        "id": "359d0159ff16ae6e",
        "type": "debug",
        "z": "9201e9be80c595c3",
        "name": "debug 20",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 700,
        "wires": []
    },
    {
        "id": "02d21a4cfc42928d",
        "type": "mqtt in",
        "z": "9201e9be80c595c3",
        "name": "",
        "topic": "casa/sensores/temperatura7",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43c6d6fc24ad7b6d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 920,
        "wires": [
            [
                "cd022ab306145501"
            ]
        ]
    },
    {
        "id": "cd022ab306145501",
        "type": "switch",
        "z": "9201e9be80c595c3",
        "name": "PasoTempTrue_False",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "21",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "21",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 480,
        "y": 920,
        "wires": [
            [
                "11c415028a2c41b7"
            ],
            [
                "9655b81a5f83ce69"
            ]
        ]
    },
    {
        "id": "11c415028a2c41b7",
        "type": "change",
        "z": "9201e9be80c595c3",
        "name": "Cambio a True",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 860,
        "wires": [
            [
                "e366a0fdc0b5a83e"
            ]
        ]
    },
    {
        "id": "9655b81a5f83ce69",
        "type": "change",
        "z": "9201e9be80c595c3",
        "name": "Cambio a False",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 960,
        "wires": [
            [
                "e366a0fdc0b5a83e"
            ]
        ]
    },
    {
        "id": "e366a0fdc0b5a83e",
        "type": "rbe",
        "z": "9201e9be80c595c3",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 830,
        "y": 920,
        "wires": [
            [
                "6fe39c93f0d9feec",
                "e5c930c9c20c523b"
            ]
        ]
    },
    {
        "id": "6fe39c93f0d9feec",
        "type": "mqtt out",
        "z": "9201e9be80c595c3",
        "name": "",
        "topic": "casa/actuadores/rele7",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "43c6d6fc24ad7b6d",
        "x": 1000,
        "y": 880,
        "wires": []
    },
    {
        "id": "e5c930c9c20c523b",
        "type": "debug",
        "z": "9201e9be80c595c3",
        "name": "debug 21",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 960,
        "wires": []
    },
    {
        "id": "3a96d547a354731f",
        "type": "ui_switch",
        "z": "9201e9be80c595c3",
        "name": "",
        "label": "rele7",
        "tooltip": "",
        "group": "654b2b9f30da2b80",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 310,
        "y": 1040,
        "wires": [
            [
                "c20cdd316b15e9f6"
            ]
        ]
    },
    {
        "id": "c20cdd316b15e9f6",
        "type": "mqtt out",
        "z": "9201e9be80c595c3",
        "name": "",
        "topic": "casa/sensores/rele7",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "43c6d6fc24ad7b6d",
        "x": 540,
        "y": 1040,
        "wires": []
    },
    {
        "id": "43c6d6fc24ad7b6d",
        "type": "mqtt-broker",
        "name": "mi_mosquitto_broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "654b2b9f30da2b80",
        "type": "ui_group",
        "name": "Actuadores dixitais",
        "tab": "5000729defeb6ba4",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4d85fdb834129f7d",
        "type": "ui_group",
        "name": "TemperaturaHumidade",
        "tab": "7bdcc18ff83b557b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5000729defeb6ba4",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7bdcc18ff83b557b",
        "type": "ui_tab",
        "name": "Practica4",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
